body{
    background-color: rgb(255, 255, 255);
}
.menuFlutuante{
    background-image: url(../imagens/menu2.jpg);
    width: 100%;
    height: 140px;
    position: fixed;
}
#um{
    display: flex;
    flex-flow: col wrap;
}
#um ul li{
    display: inline;
}
#um ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}
#um ul li a:hover{
    color: rgb(68, 86, 250);
    background-color: white;
}

.meio{
    background-image: url(../imagens/meio1.jpg);
    width: 100%;
    height: 547px;
}
.meio a center{
    color: rgb(61, 1, 85);
    text-decoration: none;
    padding: 5px 20px;
} 
#dois{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.final{
    background-color: black;
    width: 100%;
    height: 100px;
}
.final center h1 a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}
.final center h1 a:hover{
    color: rgb(255, 0, 170);
    background-color: rgb(43, 43, 43);
}
.text{
    width: 50%; float: left;
}
.img{
    width: 50%; float: left;
}
.meiotres{
    background-image: url(../imagens/itiquira.jpg);
    width: 100%;
    height: 850px;
}
.dois{
    display: flex;
    flex-flow: col wrap;
    justify-content: center;
}
.meiotres center font a h5{
    color: rgb(5, 0, 0);
    text-decoration: none;
    padding: 5px 20px;
}
#tres{
    background-color: rgb(238, 238, 238);
    width: 30%;
    height: 10%;
    border: solid 3px #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
